* {
    margin: 0;
    padding: 0;
}

#navigator {
    position: fixed;
    width: 375px;
    height: 66px;
    z-index: 66666;
    background: url(../imgs/navigator.png);
    bottom: 0;
}

#gtmap {
    position: absolute;
    bottom: 18px;
    left: 35px;
    background: url(../imgs/gtmap.png);
    width: 50px;
    height: 20px;
}

#haunt {
    position: absolute;
    bottom: 18px;
    left: 164px;
    background: url(../imgs/haunt.png);
    width: 48px;
    height: 20px;
}

#collection {
    position: absolute;
    bottom: 19px;
    left: 280px;
    background: url(../imgs/collection.png);
    width: 67px;
    height: 20px;
}


/* map module*/

#map{
    height:577px;
    background:#0c142a;
    width:100%;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    z-index: 6666;
    display:none; /*change here*/
}

#map-header {
    position: fixed;
    top: 0;
    background: url(../imgs/mapheader.png);
    width: 375px;
    height: 77px;
    z-index: 666;
}

#mapbg-father {
    height: 100%;
    width: 100%;
}

#map-container {
    background: url(../imgs/mapbg.png) #0c142a;
    position: relative;
    top:60px;
    left:12px;
    background-size: cover;
    width: 666px;
    height: 493px;
}

.points {
    border-radius: 50%;
    position: absolute;
    z-index: 665;/*******************?????????????????************************/
}

#urhere {
    width: 23px;
    height: 23px;
    background: url(../imgs/urhere.png);
    animation: urhere-flash 1.5s infinite ease-in-out alternate;
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.2);
}

.points-ghosts {
    width: 6px;
    height: 6px;
    background: #f1aa55;
    animation: ghosts-flash 1.5s infinite ease-in-out alternate;
}

.points-ghosts[ghost-found] {
    background: #0f0;
    animation: ghosts-found-flash 1s infinite ease-in-out alternate;
}

@keyframes urhere-flash {
    from {
        box-shadow: 0 0 8px 22px rgba(255, 255, 255, 0.1);
    }
    to {
        box-shadow: 0 0 8px 15px rgba(255, 255, 255, 0.04);
    }
}

@keyframes ghosts-flash {
    from {
        box-shadow: 0 0 8px 5px rgba(255, 255, 0, 0.3);
    }
    to {
        box-shadow: 0 0 8px 2px rgba(255, 255, 0, 0.2);
    }
}

@keyframes ghosts-found-flash {
    from {
        box-shadow: 0 0 8px 5px rgba(0, 255, 0, 0.8);
    }
    to {
        box-shadow: 0 0 8px 2px rgba(0, 255, 0, 0.2);
    }
}

#map1{
    position: absolute;
    background: url(../imgs/map/map1.png);
    width: 228px;
    height: 114px;
    opacity: 0.5;
    left:-20px;
    top:-28px;
}

#map2{
    position: absolute;
    background: url(../imgs/map/map2.png);
    width: 190px;
    height: 239px;
    opacity: 0.5;
    top:46px;
    left:-32px;
}

#map3{
    position: absolute;
    background: url(../imgs/map/map3.png);
    width: 163px;
    height: 228px;
    opacity: 0.5;
    top:107px;
    left:113px;
}

#map4{
    position: absolute;
    background: url(../imgs/map/map4.png);
    width: 180px;
    height: 179px;
    opacity: 0.5;
    top:-29px;
    left:243px;
}

#map5{
    position: absolute;
    background: url(../imgs/map/map5.png);
    width: 152px;
    height: 168px;
    opacity: 0.5;
    top:-18px;
    left:433px;
}

#map6{
    position: absolute;
    background: url(../imgs/map/map6.png);
    width: 196px;
    height: 195px;
    opacity: 0.5;
    top:106px;
    left:243px;
}

#map7{
    position: absolute;
    background: url(../imgs/map/map7.png);
    width: 152px;
    height: 272px;
    opacity: 0.5;
    top:160px;
    left:433px;
}

#map8{
    position: absolute;
    background: url(../imgs/map/map8.png);
    width: 158px;
    height: 131px;
    opacity: 0.5;
    top:279px;
    left:319px;
}
/*************collection**************/

#collectionpart{
    background-color: #0c142a;
    z-index: 6666;
    display: none;/*change here*/
}

#collection-header{
    position: fixed;
    top: 0;
    background: url(../imgs/coheader.png);
    width: 375px;
    height: 77px;
    z-index: 666;
}

#co-display{
    margin-top: 60px;
    margin-bottom: 50px;
}

.co-bar{
    background: url(../imgs/collection/collectionline.png);
    position: relative;
    width:375px;
    height:140px;
}

.co-left{
    margin:25px 60px 25px 20px;
    position: absolute;
    width:89px;
    height:89px;
}

.co-mid{
    margin:25px 60px 25px 140px;
    position: absolute;
    width:89px;
    height:89px;
}

.co-right{
    margin:10px 10px 0 265px;
    position: absolute;
    width:76px;
    height:120px;
}

#co-witch span:nth-child(1){
    background: url(../imgs/collection/witch1b.png);
}

#co-witch span:nth-child(2){
    background: url(../imgs/collection/witch2b.png);
}

#co-witch span:nth-child(3){
    background: url(../imgs/collection/witchb.png);
}

#co-skeleton{
    position: relative;
}

#co-skeleton span:nth-child(1){
    background: url(../imgs/collection/skeleton1b.png);
}

#co-skeleton span:nth-child(2){
    background: url(../imgs/collection/skeleton2b.png);
}

#co-skeleton span:nth-child(3){
    background: url(../imgs/collection/skeletonb.png);
}

#co-vampire{
    position: relative;
}

#co-vampire span:nth-child(1){
    background: url(../imgs/collection/vampire1b.png);
}

#co-vampire span:nth-child(2){
    background: url(../imgs/collection/vampire2b.png);
}

#co-vampire span:nth-child(3){
    background: url(../imgs/collection/vampireb.png);
}

#co-ghost{
    position: relative;
}

#co-ghost span:nth-child(1){
    background: url(../imgs/collection/ghost1b.png);
}

#co-ghost span:nth-child(2){
    background: url(../imgs/collection/ghost2b.png);
}

#co-ghost span:nth-child(3){
    background: url(../imgs/collection/ghostb.png);
}

#co-zombie{
    position: relative;
}

#co-zombie span:nth-child(1){
    background: url(../imgs/collection/zombie1b.png);
}

#co-zombie span:nth-child(2){
    background: url(../imgs/collection/zombie2b.png);
}

#co-zombie span:nth-child(3){
    background: url(../imgs/collection/zombieb.png);
}

/***********huant**************/

.cursorE{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 6666;
    margin: -54px 0 0 -45px;;
}

#hauntpart{
    display:block;
}

#cursor-inner{
    animation: rotate 3s infinite ease-in-out alternate;
}

#cursor-ring{
    animation: rotate 4s infinite linear;
}

#cursor-outer1{
    animation: rotate-apart 2s infinite ease-in-out alternate;
}

#cursor-outer2{
    animation: rotate-bpart 1.5s infinite ease-in-out alternate;
}

@keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@keyframes rotate-apart {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(220deg);}
}

@keyframes rotate-bpart {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(300deg);}
}
